html{
	background: $color url(../assets/bg.svg) 50% 50%;
	background-size: cover;
    background-attachment: fixed;
    background-position: center;
    // font-size: 14px;
}

body{
	font-family: sans-serif;
	color: #fff;
	
	margin: 0;
	padding: 0;

	
}

*{
	box-sizing: border-box;
}