$color: #571d1d;

$svgbg: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' preserveAspectRatio='none' width='100%' height='60' viewBox='0 0 60 60' %3E%3Cpolygon points='0,60 60,0 60,60' style='fill:color;' /%3E%3C/svg%3E");


$ms-base: 1rem;
$ms-ratio: $golden;

$mw: 50rem;
// screen sizes
$small: 700px;
$medium: 960px;
$large: 1080px;