.main_header{
	width: 100%;
	min-height: 80vh;
	color: #fff;
	padding: 3rem;
	@media (min-width: $small){
		display: flex;
		align-items: center;
		justify-content: center;
	}
	div{
		max-width: $mw;
	}
	h1{
		
	}
	h1, h2{
		margin: 0;
	}
}