section{
	background-color:$color;
	color: #fff;
	padding: 3rem 3rem 5rem;
	position: relative;
	&:before{
		content: '';
		position: absolute;
		left: 0;
		bottom: 100%;
		width: 100%;
		height: 4rem;
		background-image: str-replace($svgbg, "color", $color);
	    background-repeat: no-repeat;
	    background-size: 100% 100%;
	}
	@for $index from 2 to 10 {
		&:nth-child(#{$index}) {
			background-color: lighten($color, ($index - 1) * 5);
			&:before{
				background-image: str-replace($svgbg, "color", lighten($color, ($index - 1) * 5));
			}
		}
	}
	.inner{
		max-width: $mw;
		margin: 0 auto;
		@media (min-width: $medium){
			display: flex;
			flex-direction: row-reverse;
			align-items: center;
			// & > *{
			// 	width: ms(-1, 100%);
			// 	margin: 0 0 0 ms(1);
			// 	& + *{
			// 		width: 100%;
			// 		margin: 0;	
			// 	}
			// }
		}
	}
	p{
		margin-top: 0;
	}
}