@import "https://fonts.googleapis.com/css?family=Raleway:400,600";

body{
	font-family: "Raleway","Helvetica","Arial";
	font-weight: 400;
}

h1,h2,h3{
	font-weight: 600;

}
h4,h5,h6,strong{
	font-weight: 400;
}
h1{
	font-size: ms(2);
	@media (min-width: $small){
		font-size: ms(3);
	}
}
h2{
	font-size: ms(1);
	@media (min-width: $small){
		font-size: ms(1);
	}
}
h3,h4{
	font-size: ms(1);
	margin-bottom: 0;
}
p{
	font-size: ms(0);
}
section{
	line-height: 1.5;
}
a{
	color: #fff;
}